<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Home page</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="container p-12">
    <div class="aligncenter" style="width: 500px;">
        <h1 class="text-xl">here is a list of the files you can look at:</h1>
        <p class="border-solid border-1 border-light-blue-200">Here is a list of the files:</p>
        <ul class="list-disc list-inline">
            <li class="mb-1"> <a href="newEnquiry.html">New Enquiry</a> </li>
            <li class="mb-1"> <a href="updateEnquiry.html">Update Enquiry</a> </li>
            <li class="mb-1"> <a href="alert.html">Alert notifications</a> </li>
            <li> <a href="accountCreated.html">Account Created</a> </li>
        </ul>
    </div>
</body>
</html>