<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New Enquiry</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="alert alert-blue">
                                Your Enquiry</td>
                        </tr>
                        <tr>
                            <td class="content-wrap">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block">
                                            Hello {{firstname}}, </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <p>
                                                An enquiry has been created for: </p>
                                            <p class="bold">{{fullAddress}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <p>A list of the requirement is listed below:</p>
                                            <p class="well">
                                                {{reg_requirements}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <table class="tableh" cellpadding="0" cellspacing="0">
                                                <thead>
                                                    <td>Requirements</td>
                                                    <td class="alignright">Quantity</td>
                                                </thead>
                                                {{#each itemRequirements}}
                                                <tr>
                                                    <td>{{requirement}}</td>
                                                    <td class="alignright">{{qty}}</td>
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block">
                                            <p>
                                                <span class="bold">Name</span> {{fullname}}
                                            </p>
                                            <p>
                                                <span class="bold">Phone</span> {{reg_phone}}
                                            </p>

                                            <p>
                                                <span class="bold">Email</span> {{reg_email}}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block aligncenter"> <a href="{{link}}"
                                                class="btn btn-orange">View your project</a>
                                            <p>Update your project online</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block ">
                                            Thanks for choosing Icelabz Survey </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">
                                    <p><a id="linktoHome" href="https://icelabz.co.uk/" target="_blank">Icelabz 💙</a>
                                        from these alerts.</p>
                                    <p><a href="{{pm:unsubscribe}}" target="_blank">Unsubscribe from all
                                            alerts</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</body>

</html>